@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("Assets/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: lighter;
}

.buttons-input {
  display: flex;
  flex-direction: column;
}

#main-buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 11px;
}

.menu {
  width: 50px;
  height: 50px;
  color: black;
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(22, 1, 255, 0.204);
  background-image: url("Assets/pictures/moon-svgrepo-com.png");
  background-size: cover;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
  margin-left: 10px;
}

.dark-mode .menu {
  background-image: url("Assets/pictures/sun-2-svgrepo-com(1).png");
}

.dark-mode {
  filter: invert(1);
  background-color: rgba(6, 1, 26, 0.996);
}

.menu:hover {
  transform: scale(1.2);
  filter: invert(100%);
  box-shadow: 0 0 100px 200px rgba(255, 255, 255, 0);
}

.author {
  position: relative;
  align-self: center;
  opacity: 10%;
  font-size: 15px;
  margin-top: 50px;
  padding-bottom: 30px;
}

.menu:active {
  filter: brightness(0.5);
  transform: scale(0.8);
}

.info {
  background-color: white;
  background-image: url("Assets/pictures/about-us.png");
  background-size: 45px;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px rgba(22, 1, 255, 0.204);
  margin-left: 10px;
  transition: transform 0.5s ease, filter 0.5s ease;
  cursor: pointer;
}

.info:active {
  transform: scale(0.8) !important;
}

.info:hover {
  transform: scale(1.2);
  filter: invert(100%);
  box-shadow: 0 0 100px 200px rgba(255, 255, 255, 0);
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 100px rgba(5, 20, 69, 0.796);
  z-index: 1000;
  border-radius: 7px;
  text-align: center;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;

}


.modal.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modalTitle {
  font-size: 25px;
  margin: 10px;
}

.modalSub {
  opacity: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.close {
  position: relative;
  background-color: rgb(38, 132, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

body {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  background-color: #fff2f2;
  gap: 1em;
  transition: filter 0.3s ease-in-out, background-color 0.3s ease;

}

body,
html {
  height: 100%;
  margin: 0;
}

#title {
  margin-top: 20px;
  display: block;
  text-align: center;
  z-index: -1;
}

.title-container {
  font-size: 55px;
  font-weight: 1000;
}

@media (max-width: 864px) {
  .title-container {
    font-size: 2em;
    font-weight: 1000;
  }
}

.subtitle {
  font-weight: 800;
}

/* main panel */
#custom-container {
  margin-top: 16px;
  display: flex;
  max-width: 3000px;
  max-height: 1000px;
  transition: box-shadow 0.3s ease;
  min-width: 500px;
  backdrop-filter: blur(100px);
  justify-content: center;
  gap: 1em 1em;
  flex-wrap: wrap;
}

section {
  padding: 20px;
  border-radius: 7px;
}

#errors {
  background-color: white;
  background-image: url("Assets/pictures/warning.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 119px;
  height: 50px;
  max-height: 50px;
  max-width: 400px;
  color: black;
  border-radius: 7px;
  box-shadow: 0px 0px 15px rgba(22, 1, 255, 0.204);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
}

#errors:hover {
  transform: scale(1.24);
  background-color: rgb(0, 225, 255);
  filter: invert(100%);
}

#errors:active {
  transform: scale(0.8);
  filter: brightness(0.5);
}

#input-segment {
  font-weight: bold;
  background-color: white;
  box-shadow: gray;
  min-width: 200px;
  height: 170px;
  align-self: flex-end;
}

.input-title {
  font-size: 28px;
  margin-top: 20px;
  margin-left: 20px;
}

.titleprocess {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 20px;
}

.input-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9px;
}

#prcsInput {
  font-size: 18px;
}

.nOpcrs {
  font-family: "Inter";
  height: 40px;
  width: 15px;
  margin: 5px;
  font-size: 15px;
  border: none;
  text-align: center;
}

.ok {
  background-color: rgb(102, 255, 0);
  margin-left: 5px;
  background-image: url("Assets/pictures/mark.png");
  /* Set the path to your image */
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

#table-container {
  background-color: white;
  flex: 50%;
  width: 50px;
  max-width: 735px;
  min-width: 300px;
  overflow: auto;
}

#prcsTbl {
  padding: 30px;
  background-color: #00000021;
  border-radius: 10px;
  animation: fadeBackground 0.5s ease-in-out;
  box-sizing: border-box;
}

#prcsTbl > tr > td {
  text-align: center;
}

#prcsTbl > tr > td > input {
  border: none;
  text-align: center;
  font-family: "Inter";
  background: transparent;
}

#prcsTbl > tr > td > input:focus {
  outline: none;
}

/*table animation*/
#prcsTbl tr td:hover,
#prcsTbl tr td:focus {
  background-color: #0000001c;
  transition: background-color 0.4s ease-in-out;
  border-radius: 10px;
}

#cmpte {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 600;
  color: white;
  font-size: medium;
  padding: 10px;
  min-width: 70px;
  min-height: 40px;
  background-color: rgb(38, 132, 255);
  transition: transform 400ms ease, filter 400ms ease;
}

#output-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

#gantt-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100px;
  background-color: white;
}

#gantTitle > .content {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#gantTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

#chart-section {
  display: flex;
  padding: 10px;

  align-items: center;
  flex-direction: column;
  width: fit-content;
}

.ch {
  display: flex;
  gap: 2px;
  background-color: grey;
  padding: 2px;
  border-radius: 5px;
  max-width: fit-content;
}

.ch > div {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  min-width: 1em;
  text-align: center;
}

button {
  font-family: "inter";
  height: 30px;
  width: 30px;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  color: #000000;
  transition: transform 100ms ease, filter 800ms ease;
  cursor: pointer;
}

button:active {
  filter: brightness(0.5);
  transform: scale(0.8);
}

button:hover {
  transform: scale(1.2);
  filter: invert(100%);
}

#cmpte:active {
  transform: scale(0.9);
}

.ok:active {
  transform: scale(0.9);
}

increbtn:active {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes morph {
  from {
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    height: auto;
  }
}

.morphing-row {
  animation: morph 0.5s ease-in-out;
}

.morphing-row:nth-child(1) {
  animation-delay: 0s;
}

.morphing-row:nth-child(2) {
  animation-delay: 0.2s;
}

.morphing-row:nth-child(3) {
  animation-delay: 0.4s;
}

.morphing-row:nth-child(4) {
  animation-delay: 0.6s;
}

.morphing-row:nth-child(5) {
  animation-delay: 0.8s;
}

.morphing-row:nth-child(6) {
  animation-delay: 0.1s;
}

.morphing-row:nth-child(7) {
  animation-delay: 0.12s;
}

.morphing-row:nth-child(8) {
  animation-delay: 0.14s;
}

.morphing-row:nth-child(9) {
  animation-delay: 0.16s;
}

@keyframes fadeBackground {
  from {
    background-color: #ffffff;
  }

  to {
    opacity: 1;
  }
}

.glow {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #ffffff00;
  border-radius: 50%;
  animation: moveGlow 10s infinite;
  box-shadow: 0 0 1000px 1000px #3612d41a;
}

@keyframes moveGlow {
  0%,
  100% {
    left: 0;
    top: 0;
  }

  25% {
    left: 50%;
    top: 0;
  }

  50% {
    left: 50%;
    top: 50%;
  }

  75% {
    left: 0;
    top: 50%;
  }
}

#ganttnsol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#solutions {
  background-color: white;
  min-width: 200;
  max-height: 1000px;
  min-height: 20px;
  gap: 2em;
  display: flex;
}

#tatvert,
#twtvert {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 180px;
}

#TAT-title,
#TWT-title {
  color: rgb(26, 190, 11);
  font-weight: bold;
  font-size: large;
}

p {
  margin: 0em;
  font-weight: 600;
}

#totalwt,
#totaltat {
  margin-top: 1em;
}

.ms-gantt {
  position: relative;
  display: flex;
  gap: 4px;
  max-width: fit-content;
  padding: 0px 2px;
  left: -2px;
}

.ms-gantt > div {
  border-radius: 5px;
  padding: 0px 10px;
  min-width: 18px;
  background-color: white;
  text-align: center;
}

#gantt-breakdown {
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: fit-content;
}

#breakdown-section {
  display: flex;
  padding-top: 5px;
}

#prcs-content {
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 30px 15px;
  background-color: rgb(235, 232, 232);
  max-width: 100em;
  min-width: 4em;
}

#prcs-id {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 18px;
  padding-right: 1em;
}

#prcs-id > div {
  font-weight: 600;
}

#prcs-content > div {
  min-height: 2em;
  min-width: 1em;
  max-width: 100em;
}

#bd-prcs1 {
  background-color: rgb(255, 208, 88);
}

#bd-prcs2 {
  background-color: rgb(241, 11, 241);
}

#bd-prcs3 {
  background-color: rgb(60, 233, 38);
}

#bd-prcs4 {
  background-color: rgb(252, 148, 13);
}

#bd-prcs5 {
  background-color: rgb(38, 194, 233);
}

#bd-prcs6 {
  background-color: rgb(233, 230, 38);
}

#bd-prcs7 {
  background-color: rgb(85, 101, 252);
}

#bd-prcs8 {
  background-color: rgb(248, 66, 172);
}

#bd-prcs0 {
  background-color: rgb(235, 232, 232);
}

#bdms {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-left: 90px;
}

#bdms > div {
  margin-right: 64px;
}

#aBdms25,
#aBdms35,
#aBdms45,
#aBdms55,
#aBdms65,
#aBdms75,
#aBdms85,
#aBdms95,
#aBdms105 {
  margin-right: 57px !important;
}

#compressed {
  margin-left: 40px;
  display: grid;
  background-color: rgb(235, 232, 232);
  min-height: 3em;
  place-items: center left;
  max-width: 100em;
  width: 25px;
}

#compressed > div {
  position: absolute;
  min-height: 2em;
  max-width: 100em;
}

#gant-mode {
  margin-top: 1em;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(209, 206, 206);
  min-width: fit-content;
}

#expand {
  display: flex;
  justify-content: right;
}

#com-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 10px;
  gap: 10px;
}

#com-legend > div {
  font-size: 10px;
  font-weight: 500;
  width: 20px;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  line-height: 2em;
}
