@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("Assets/Inter/Inter-VariableFont_slnt\,wght.ttf")
      format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Inter2";
  src: local("Inter2"),
    url("Assets/Google-sans-Font-Family/ProductSans-Regular.ttf")
      format("truetype");
  font-weight: lighter;
}

.menu {
  width: 50px;
  height: 50px;
  max-width: 3000px;
  max-height: 1000px;
  position: fixed;
  top: 30px; /* Adjust the top position to align with the top of #custom-container */
  right: 97px;
  color: black;
  border-radius: 35px;
  background: #ffffff;
  box-shadow: 0 1.74375px 13.95px rgba(0, 0, 0, 0.1);
  background-image: url("Assets/pictures/sun-2-svgrepo-com(1).png"); /* Replace 'path-to-your-icon.png' with the actual path to your icon */
  background-size: cover;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.dark-mode .menu {
  background-image: url("Assets/pictures/sun-2-svgrepo-com(1).png");
}

.menu:hover {
  background-image: url("Assets/pictures/moon-svgrepo-com.png"); /* Hover icon */
}
.dark-mode {
  filter: invert(180%) hue-rotate(180deg);
  background-color: #070100;
}
.author {
  position: fixed;
  bottom: 35px;
  opacity: 40%;
  font-size: 15px;
}

body {
  transition: filter 0.3s ease, background-color 0.3s ease;
}

body {
  font-family: "Inter";
  display: block;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 0% 10%;
}
#title{
  display: block;
  text-align: center;
}

.title-container {
  font-size: 55px;
  font-weight: 1000;
}

.subtitle {  
  font-weight: 800;
}

/* main panel */
#custom-container {  
  margin-top: 16px;
  display: flex;
  max-width: 3000px;
  max-height: 1000px;
  transition: box-shadow 0.3s ease;
  min-width: 500px;
  backdrop-filter: blur(100px);
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 3em;
}

section{
  padding: 20px;
  border-radius: 7px;
}

#input-segment {
  font-weight: bold;
  background-color: white;
  box-shadow: gray;
  min-width: 200px;
  height:min-content;
}

.input-title{
  font-size: 28px;
}

.titleprocess {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.input-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prcsInput {
  font-size: 18px;
}

.nOpcrs {
  font-family: "Inter";
  height: 40px;
  width: 15px;
  margin: 5px;
  font-size: 15px;
  border: none;
  text-align: center;
}

.ok {
  background-color: rgb(102, 255, 0);
  margin-left: 5px;
  background-image: url("Assets/pictures/mark.png");
  /* Set the path to your image */
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

#table-container{
  background-color: white;
  flex: 50%;
  width: 50px;
  max-width: 700px;
  min-width: 300px;
  overflow: auto;
}

#prcsTbl{
  padding: 30px;
  background-color: #00000021;
  border-radius: 10px;
  animation: fadeBackground 0.5s ease-in-out;
  box-sizing: border-box;
  
}


#prcsTbl > tr > td > input {
  border: none;
  text-align: center;
  font-family: "Inter";
  background: transparent;
}

#prcsTbl > tr > td > input:focus {
  outline: none;
}

/*table animation*/
#prcsTbl tr td:hover,
#prcsTbl tr td:focus {
  background-color: #0000001c;
  transition: background-color 0.4s ease-in-out;
  border-radius: 10px;
}

#cmpte {
  margin-top: 10px;
  font-family: "Inter";
  font-size: medium;
  padding: 10px;
  min-width: 70px;
  min-height: 40px;
  background-color: rgb(38, 132, 255);
  transition: transform 0.2s ease-in-out;
}

#output-container{
  display: flex;
  justify-content: center;
}



#gantt-chart {
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
}

#gantTitle > .content{
  flex: 100%;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

#gantTitle{
  display: flex;
  flex: 100%;
  justify-content: center;
}



#chart-section{
  display: flex;
  flex: 100%; 
  padding: 10px;
  justify-content: center;
}

.ch{
  display: flex;
  gap: 2px;  
  background-color: grey;
  padding: 2px;
  border-radius: 5px;
  
}

.ch > div{
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

button {
  font-family: "inter";
  height: 30px;
  width: 30px;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  color: #000000;
  transition: transform 100ms ease, filter 100ms ease;
}

button:active {
  filter: brightness(0.5);
  transform: scale(0.8);
}

button:hover {
  transform: scale(1.2);
  /* font-size: 2cap; */
  filter: invert(100%);
}

#cmpte:active {
  
  transform: scale(0.9);
}

.ok:active {
  transform: scale(0.9);
}

increbtn:active {
  transform: scale(0.9);
}
increbtn:active {
  transform: scale(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes morph {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}

.morphing-row {
  animation: morph 0.5s ease-in-out;
}

.morphing-row:nth-child(1) {
  animation-delay: 0s;
}

.morphing-row:nth-child(2) {
  animation-delay: 0.2s;
}

.morphing-row:nth-child(3) {
  animation-delay: 0.4s;
}

.morphing-row:nth-child(4) {
  animation-delay: 0.6s;
}

.morphing-row:nth-child(5) {
  animation-delay: 0.8s;
}

.morphing-row:nth-child(6) {
  animation-delay: 0.1s;
}
.morphing-row:nth-child(7) {
  animation-delay: 0.12s;
}
.morphing-row:nth-child(8) {
  animation-delay: 0.14s;
}
.morphing-row:nth-child(9) {
  animation-delay: 0.16s;
}

@keyframes fadeBackground {
  from {
    background-color: #ffffff;
  }
  to {
    opacity: 1;
  }
}


.glow {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #ffffff00;
  border-radius: 50%;
  animation: moveGlow 10s infinite;
  box-shadow: 0 0 1000px 1000px #3612d41a;
}

@keyframes moveGlow {
  0%,
  100% {
    left: 0;
    top: 0;
  }
  25% {
    left: 50%;
    top: 0;
  }
  50% {
    left: 50%;
    top: 50%;
  }
  75% {
    left: 0;
    top: 50%;
  }
}

#solutions {
  display: flex;
  position: fixed;
  width: 25%;
  right: 0;
  margin-right: 9%;
  margin-top: 2%;
  gap: 20px;
  justify-content: space-evenly;
}

#solutions p {
  margin: 1px; 
  padding: 0; 
}

#TAT {
  color: rgb(26, 190, 11);
  width: 250px;
}

#TATout {
  margin-top: 10px;
}
#TWTout {
  margin-top: 10px;
}

#TWT {
  color: rgb(26, 190, 11);
  width: 250px;
}